 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/63db52_bc01bb6041374b779d4672d028dba044mv2.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 783px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 593px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-list-1 {
  width: 494px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 510px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-1 {
  width: 384px;
  min-height: 162px;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-2 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-3 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 663px;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-2 .u-list-1 {
    width: 470px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 674px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-2 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-3 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 865px;
  margin: 56px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0 0 0 9px;
}

.u-section-3 .u-text-2 {
  margin: 20px 8px 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px auto 0 8px;
  padding: 5px 0;
}

.u-section-3 .u-image-1 {
  min-height: 450px;
  background-image: url("images/photo-1627563159062-f7de7f349701.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 450px;
  background-image: url("images/photo-1580696499419-84ca9688f947.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 5px 30px 30px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 33px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1006px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 476px;
  }

  .u-section-3 .u-image-2 {
    min-height: 476px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 476px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 535px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 535px;
    order: 1;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 261px;
    order: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 337px;
  }

  .u-section-3 .u-image-2 {
    min-height: 337px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 280px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }
}